<div class="mdc-layout-grid__cell--span-12" style="display:flex;align-items:center;justify-content:space-between;">
  <h1 id="title-i18n"></h1>
  <div>
    <button
      class="mdc-button mdc-button--outlined"
      type="button"
      @click="setLanguage('en')"
      :aria-label="i18next.t('translation.switch_to_english')"
      x-text="i18next.t('translation.english')"
    ></button>
    <button
      class="mdc-button mdc-button--outlined"
      type="button"
      @click="setLanguage('it')"
      :aria-label="i18next.t('translation.switch_to_italian')"
      x-text="i18next.t('translation.italian')"
    ></button>
  </div>
</div>
